{% extends "layout.html" %}

{% block body %}
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
    <h1>Yahoo! Fantasy Hockey Line Setter</h1>

    <p>Welcome to the Yahoo! Fantasy Hockey Line Setter for the 2017-2018 season.  After you draft your team for the first time, you may notice that your lines aren't automatically set for the season.  What this script does is that it will try to set lines for your team automatically.  Feel free to check out the source code on <a href="https://github.com/stussified/nhllines" target="_blank">GitHub</a></p>
    </div>

<a href='{{ oauth_auth_url }}' target='_blank'><button type="button" class="btn btn-primary">Sign in with Yahoo! Oauth</button></a>
</div>
{% endblock %}